<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.footer {
  
   left: 0;
   bottom: 0;
   width: 100%;
   line-height: 2;
   background-color: #6c757d;
   color: white;
   text-align: center;
   height:70px;
}
</style>
</head>
<body>

<div class="footer">
  <p> Be the first to know about upcoming Donors and patients  ~ HemoSys
      <br>
       CopyRight &copy;  || All Right Reserved - Yatin Singh Chauhan
  </p>

</div>

</body>
</html> 
